<div class="container-fluid">
  <div class="row">
    <p class="text-left">
      <strong>Name:</strong> 
      {{game.name}}
    </p>
  </div>
  <div class="row">
    <p class="text-left">
      <strong>Genre:</strong> 
      {{game.genre}}
    </p>
  </div>
  <div class="row">
    <p class="text-left">
      <strong>Platform:</strong> 
      {{game.platform}}
    </p>
  </div>
  <div class="row">
    <p class="text-left">
      <strong>Launch Date:</strong> 
      {{game.launchDate}}
    </p>
  </div>
  <div class="row">
    <p class="text-left">
      <strong>ESRB Rating:</strong> 
      {{game.esrbRating}}
    </p>
  </div>
  <button type="button" class="btn btn-default" routerLink="" >Back</button>
  <button type="button" class="btn btn-primary">Edit</button>
  <button type="button" class="btn btn-danger">Delete</button>
</div>