<form class="container-fluid" (ngSubmit)="save()">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input class="form-control" id="name" name="name" type="text" [(ngModel)]="game.name"> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="genre" class="control-label">Genre</label>
        <input class="form-control" id="genre" name="genre" type="text" [(ngModel)]="game.genre"> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="platform" class="control-label">Platform</label>
        <select class="form-control" id="platform" name="platform" type="text" [(ngModel)]="game.platform"> 
            <option *ngFor="let platform of platforms"
                    [value]="platform.value">{{platform.label}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="launchDate" class="control-label">Launch Date</label>
        <input class="form-control" id="launchDate" name="launchDate" type="date" [(ngModel)]="game.launchDate"> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="esrbRating" class="control-label">ESRB Rating</label>
        <input class="form-control" id="esrbRating" name="esrbRating" type="text" [(ngModel)]="game.esrbRating"> 
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-default" routerLink="">Cancel</button>
</form>